## This chart relies on the common library chart from bjw-s
## You can find it at https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
## Refer there for more detail about the supported values

# These entries are shared between all the Immich components

controllers:
  main:
    containers:
      main:
        image:
          tag: v2.2.2
        env:
          DB_HOSTNAME: 'immich-postgres-rw'
        
        envFrom:
          - secretRef:
              name: immich-postgres-user
immich:
  metrics:
    # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
    enabled: true
  persistence:
    # Main data store for all photos shared between different components.
    library:
      # Automatically creating the library volume is not supported by this chart
      # You have to specify an existing PVC to use
      existingClaim: media

# Dependencies

valkey:
  enabled: true

# Immich components

server:
  enabled: true
  controllers:
    main: 
      pod:
        affinity:
          podAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchLabels:
                    app.kubernetes.io/instance: immich
                    app.kubernetes.io/name: machine-learning
                topologyKey: "kubernetes.io/hostname"
  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-production"
        
      hosts:
        - host: immich.camsab.me
          paths:
            - path: "/"
      tls:
        - secretName: immich-ingress-key
          hosts:
            - immich.camsab.me
machine-learning:
  enabled: true
  persistence:
    cache:
      enabled: true
      size: 10Gi
      # Optional: Set this to pvc to avoid downloading the ML models every start.
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: longhorn-2-replicas
