valkey-cluster:
  enabled: false
valkey:
  enabled: true
postgresql:
  enabled: true
postgresql-ha:
  enabled: false
strategy:
  type: "Recreate"
persistence:
  enabled: true

gitea:
  config:
    database:
      DB_TYPE: postgres
    indexer:
      ISSUE_INDEXER_TYPE: bleve
      REPO_INDEXER_ENABLED: true
service:
  http:
    type: LoadBalancer
    port: 80
    annotations: 
      lbipam.cilium.io/sharing-key: "shared-gitea"
    labels: 
      type: l2
  ssh:
    type: LoadBalancer
    port: 22
    annotations: 
      lbipam.cilium.io/sharing-key: "shared-gitea"
    labels: 
      type: l2
serviceAccount:
  create: true
  automountServiceAccountToken: true